<section class="w-full grid grid-rows-4 h-[49vh]" (click)="detail(patient.id)">
  <div class="grid grid-cols-5 row-span-2">
    <div class="col-span-2 grid grid-rows-3">
      <div class="row-span-1">
        <h1 class="grid grid-rows-2 px-2 pt-2">
          <span class="row text-lg">{{ patient.name }}</span>
          <span class="row text-xs"
            >Kamer {{ patient.room }}</span
          >
        </h1>
      </div>
      <img
        class="row-span-2 px-2"
        src="../../assets/camera{{ patient.id }}.gif"
        alt="video {{ patient.name }}"
      />
    </div>
    <div class="col-span-3">
      <img
        id="{{ patient.id }}"
        class=""
        alt="hero"
        src="../../assets/monitor.gif"
      />
    </div>
  </div>


          <div class="border row border-gray-400 rounded bg-gray-100 px-3 py-2" >
        <p *ngIf="patient.alarm[0].value != ''" class="text-red-700">{{patient.alarm[0].name}} - <b>{{patient.alarm[0].value}}</b></p>
        <p  class="text-green-700" *ngIf="patient.alarm[1].value > 15">{{patient.alarm[1].name}} - <b>{{patient.alarm[1].value}}ml/h</b></p>
        <p  class="text-orange-700" *ngIf="patient.alarm[1].value <= 15 && patient.alarm[1].value > 5">{{patient.alarm[1].name}} - <b>{{patient.alarm[1].value}}ml/h</b></p>
        <p  class="text-red-700" *ngIf="patient.alarm[1].value <= 5">{{patient.alarm[1].name}} - <b>{{patient.alarm[1].value}}ml/h</b></p>
        <p  class="text-green-700" *ngIf="patient.alarm[2].value > 15">{{patient.alarm[2].name}} - <b>{{patient.alarm[2].value}}ml/h</b></p>
        <p  class="text-orange-700" *ngIf="patient.alarm[2].value <= 15 && patient.alarm[2].value > 5">{{patient.alarm[2].name}} - <b>{{patient.alarm[1].value}}ml/h</b></p>
        <p  class="text-red-700" *ngIf="patient.alarm[2].value <= 5">{{patient.alarm[2].name}} - <b>{{patient.alarm[2].value}}ml/h</b></p>
</div>

</section>
