<section class="w-full grid grid-rows-4 h-[49vh]" (click)="detail(patient.id)">
  <div class="grid grid-cols-5 row-span-2">
    <div class="col-span-2 grid grid-rows-3">
      <div class="row-span-1">
        <h1 class="grid grid-rows-2 px-2 pt-2">
          <span class="row text-lg text-gray-900">{{ patient.name }}</span>
          <span class="row text-xs text-gray-600"
            >Kamer {{ patient.room }}</span
          >
        </h1>
      </div>
      <img
        class="row-span-2 px-2"
        src="../../assets/camera{{ patient.id }}.gif"
        alt="video {{ patient.name }}"
      />
    </div>
    <div class="col-span-3">
      <img
        id="{{ patient.id }}"
        class=""
        alt="hero"
        src="../../assets/monitor.gif"
      />
    </div>
  </div>
  <div class="row-span-2 grid grid-rows-3">

      <div  *ngIf="beademingsToestel" class="border row border-red-400 rounded bg-red-100 px-3 py-2 text-red-700" >
        <p>BeademingsToestel</p>
      </div>
      <div  *ngIf="spuitPomp < 15" class="border row border-red-400 rounded bg-red-100 px-3 py-2 text-red-700" >
        <p>Spuitpomp</p>
      </div>
      <div  *ngIf="medicatiePomp < 15" class="border row border-red-400 rounded bg-red-100 px-3 py-2 text-red-700" >
        <p>Medicatiepomp</p>
      </div>

  </div>
</section>
